version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: polls_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: polls_redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  api:
    environment:
    - FRONTEND_ORIGIN=http://localhost
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: polls_api
    env_file: .env
    command:
      - sh
      - -lc
      - >
        cd /app &&
        python manage.py migrate --noinput &&
        exec gunicorn
        -k gthread --threads 4 -w 2
        -b 0.0.0.0:8000
        --log-level debug --access-logfile - --error-logfile - --capture-output
        -c /dev/null
        core.wsgi:application
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:8000/healthz || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: polls_web
    env_file: .env
    depends_on:
      api:
        condition: service_healthy
    command: ["node", "server.js"]   # можно и убрать — у тебя это уже в CMD
    environment:
      - PORT=3000
      - INTERNAL_API_BASE_URL=http://api:8000
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://127.0.0.1:3000/ >/dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  nginx:
    image: nginx:1.27-alpine
    container_name: polls_nginx
    depends_on:
      web:
        condition: service_healthy
      api:
        condition: service_healthy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost/healthz || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
  redis_data: